.inputContainer {
  border-radius: 6px;
  background-color: var(--background);
  width: 100%;
  height: 45px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.input {
  flex: 1;
  background-color: transparent;
  border: none;
  &:focus {
    outline: none;
  }
  &::-webkit-input-placeholder {
    font-weight: 400;
  }
  &::-moz-placeholder {
    font-weight: 400;
  }
  &::-ms-placeholder {
    font-weight: 400;
  }
  &::placeholder {
    font-weight: 400;
  }
}

.errorMessage {
  margin: 6px 0 0 6px;
  font-size: 14px;
  color: var(--danger);
}
