.card {
  display: flex;
  flex-shrink: 0;
  border-radius: 16px;
  padding-right: 24px;
  width: 100%;

  .thumbnail {
    flex-shrink: 0;
    border: 2px solid var(--black);
    border-radius: 16px 0 0 16px;
    width: 30%;
    overflow: hidden;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .content {
    border: 2px solid var(--black);
    border-left: none;
    border-radius: 0 16px 16px 0;
    background-color: var(--white);
    padding: 16px 32px;
    width: 100%;

    .contentHeader {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      margin-bottom: 6px;

      .contentHeading {
        font-weight: 700;
        font-size: 24px;
      }

      .pricing {
        display: flex;
        align-items: center;

        .coursePrice {
          font-weight: 700;
        }

        .priceDivider {
          display: inline-block;
          margin: 0 4px;
        }
      }
    }

    .contentDescription {
      -webkit-box-orient: vertical;
      display: -webkit-box;
      margin-bottom: 12px;
      -webkit-line-clamp: 2;
      overflow: hidden;
      font-size: 16px;
      line-height: 160%;
      text-overflow: ellipsis;
    }

    .courseStartDate {
      display: inline-flex;
      align-items: center;
      gap: 8px;
      margin-bottom: 12px;
      border-radius: 4px;
      background-color: #e6e8ea;
      padding: 8px;

      .calendarIcon {
        flex-shrink: 0;
        width: 16px;
        height: 16px;
      }

      .date {
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
      }
    }

    .contentFooter {
      .tutor {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .tutorInfo {
          display: flex;
          align-items: center;
          gap: 12px;

          .tutorAvatar {
            border-radius: 200px;
            width: 40px;
            height: 40px;
            object-fit: cover;
          }

          .tutorName {
            font-weight: 700;
          }

          .rating {
            display: flex;
            align-items: center;
            font-size: 14px;

            .starIcon {
              margin-top: 2px;
              height: 18px;
            }

            .classesTaught {
              color: #808080;
            }
          }
        }

        .slotsRemain {
          margin-left: 4px;
          font-weight: 700;
        }
      }
    }
  }
}
