@import "assets/scss/media-query.scss";

.container {
  padding: 48px 64px;
}

@include tablet {
  .container {
    padding: 48px 64px;
  }
}

@include mobile-landscape {
  .container {
    padding: 24px 32px;
  }
}
