@import "assets/scss/media-query.scss";

@import "assets/scss/media-query.scss";

.container {
  padding: 48px 128px 0;
}

@include tablet {
  .container {
    padding: 48px 64px 0;
  }
}

@include mobile-landscape {
  .container {
    padding: 24px 32px 0;
  }
}


.navbar {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  .brand {
    font-weight: 700;
    font-size: 24px;
  }

  .menuToggler {
    display: none;

    .menuTogglerIcon {
      height: 40px;
    }
  }

  .navbarContainer {
    margin-left: auto;

    .navbarContent {
      display: flex;
      align-items: center;

      .navLink {
        padding: 12px 20px;
        font-weight: 500;
        font-size: 16px;
        line-height: 160%;
        transition: all 0.2s;

        &:hover {
          opacity: 0.7;
        }
      }

      .navLinkButton {
        cursor: pointer;
        margin-left: 20px;
        border-radius: 4px;
        padding: 10px 20px 12px;
        background-color: var(--black);
        color: var(--white);
      }
    }
  }

  &.white {
    color: var(--white);

    .menuTogglerIcon {
      fill: var(--white);
    }
  }
}

@include tablet {
  .navbar {
    .menuToggler {
      display: block;
      margin-left: auto;
      cursor: pointer;
    }

    .navbarContainer {
      display: none;
      position: absolute;
      z-index: 1000;
      top: 120%;
      left: 0;
      width: 100%;
      background-color: var(--black);
      color: var(--light-gray);
      padding: 8px 0;

      &.show {
        display: block;
      }

      .navbarContent {
        flex-direction: column;

        .navLink {
          padding: 12px 16px;
          display: block;
        }

        .navLinkButton {
          margin-left: inherit;
          border-radius: inherit;
          background-color: inherit;
          color: inherit;
        }
      }
    }
  }
}
