.swiper {
  position: relative;
  padding: 0 128px;

  .swiperSlide {
    margin-right: 32px;
    background-color: var(--white);
    padding: 48px;

    .avatar {
      display: flex;
      justify-content: flex-end;

      .img {
        width: 104px;
        height: 104px;
        object-fit: cover;
        object-position: top right;
      }
    }

    .to {
      display: flex;
      align-items: center;
      gap: 4px;

      .tutor {
        color: var(--sky-blue);
        font-weight: 700;
        line-height: 160%;
      }
    }

    .testimonial {
      margin-top: 28px;
      font-size: 18px;
      line-height: 160%;
    }

    .from {
      margin-top: 16px;
      font-size: 18px;

      .student {
        font-weight: 700;
      }
    }
  }

  .btnPrev,
  .btnNext {
    position: absolute;
    top: 100%;
    right: 128px;
    transform: translateY(40px);
    width: 40px;
    height: 40px;
    user-select: none;
  }

  .btnPrev {
    right: 200px;
  }
}
