@import "assets/scss/media-query.scss";
@import "assets/scss/container.scss";

.container {
  width: 100%;
}

.main {
  margin: 0 auto;
  padding: clamp(16px, 6vw, 88px) 0;
}

.title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 32px;
  line-height: normal;
}

.filterContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 24px 32px;
  margin-bottom: 24px;
}

.tutorList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 32px;
  margin-bottom: 48px;

  .tutorContainer {
    transition: all 0.2s;
    cursor: pointer;
    border: 1px solid #000000;
    border-radius: 4px;
    padding: 12px 16px 24px;
    width: 272px;

    &:hover {
      transform: scale(1.02);
      transition: all 0.2s;
    }

    .price {
      margin-bottom: 7px;
      font-weight: 700;
      font-size: 16px;
      line-height: 160%;
      text-align: right;
    }

    .avatar {
      margin: auto;
      margin-bottom: 12px;
      border-radius: 128px;
      width: 128px;
      height: 128px;
      object-fit: cover;
      object-position: center;
    }

    .name {
      margin-bottom: 0;
      overflow: hidden;
      font-weight: 700;
      font-size: 24px;
      line-height: normal;
      text-align: center;
      text-overflow: ellipsis;
    }

    .info {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 4px;
      margin-bottom: 4px;

      >span {
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
      }
    }

    .role {
      margin-bottom: 8px;
      font-weight: 500;
      font-size: 18px;
      line-height: 160%;
      text-align: center;
    }

    .skills {
      height: 80px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 12px;
      margin-bottom: 16px;

      .skill {
        border-radius: 4px;
        background-color: #007bff;
        padding: 4px 12px;
        max-width: 12ch;
        overflow: hidden;
        color: #efefef;
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    .description {
      -webkit-box-orient: vertical;
      display: -webkit-box;
      margin-bottom: 24px;
      -webkit-line-clamp: 2;
      overflow: hidden;
      font-weight: 400;
      font-size: 15px;
      line-height: 150%;
      text-align: center;
    }

    .horizontalLine {
      margin: auto;
      margin-bottom: 16px;
      background-color: #dae3ea;
      width: 170px;
      height: 1px;
    }

    .viewProfileButton {
      font-weight: 500;
      font-size: 18px;
      line-height: 150%;
      text-align: center;
    }
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}