@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./fonts.scss";
@import "./config.scss";

:root {
  --black: #1a1a1a;
  --white: #ffffff;
  --slate-blue: #7EA1B9;
  --sky-blue: #007BFF;
  --deep-blue: #005C9C;
  --green: #00C04D;
  --background: #f6f6f6;
  --subtext: #6d7588;
  --border: #cccfd6;
  --purple: #4f43e0;
  --code: #407bff;
  --gray: #888888;
  --light-gray: #E6E8EA;
  --charcoal-gray: #343434;
  --lightGray: #e5e5e5;
  --searchInputBackground: #473dc2;
  --hoverPurple: #473dc21c;
  --hoverPurpleLight: #7266f0;
  --danger: #ff0000;
}

html,
body {
  margin: 0;
  padding: 0 !important;
  overflow-x: hidden !important;
  font-family: "Sarabun", sans-serif;
  font-size: 16px;
  color: var(--black);
  background-color: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
    border-radius: 6px;
    background-color: transparent;
  }
  ::-webkit-scrollbar {
    width: 6px;
    height: 4px;
    border-radius: 6px;
    background-color: var(--background);
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 6px;
    -webkit-box-shadow: none;
    background: var(--gray);
  }
}
