.overview {
  margin: 32px 0 40px;

  .tutor {
    display: flex;
    align-items: center;

    .tutorAvatarContainer {
      margin-right: 12px;
      width: 48px;

      .tutorAvatar {
        border-radius: 200px;
        width: 48px;
        height: 48px;
      }
    }

    .name {
      margin-right: 16px;
      font-weight: 700;
      font-size: 24px;
    }

    .stats {
      display: flex;
      margin-top: 2px;

      .startIcon {
        margin-right: 4px;
      }

      .rating {
        margin-right: 12px;
      }
    }
  }

  .banner {
    margin-top: 24px;
    aspect-ratio: 2 / 1;

    & .img {
      border-radius: 4px;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
