{
  "root": true,
  "rules": {
    "no-undef": "off",
    "react/display-name": "off",
    "react/prop-types": 0,
    "react/no-unknown-property": "off",
    "react/react-in-jsx-scope": "off",
    "sort-imports": ["error", { "ignoreDeclarationSort": true }],
    "import/order": [
      "error",
      {
        "alphabetize": {
          "caseInsensitive": true,
          "order": "asc"
        },
        "groups": [
          "builtin",
          "external",
          "internal",
          "sibling",
          "parent",
          "index",
          "object",
          "type",
          "unknown"
        ],
        "newlines-between": "always"
      }
    ]
  },
  "extends": ["plugin:react/recommended"],
  "plugins": ["import"],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true,
      "experimentalObjectRestSpread": true
    }
  },
  "settings": {
    "import/resolver": {
      "typescript": {
        "project": "./jsconfig.json"
      }
    },
    "react": {
      "version": "detect"
    }
  }
}
