{
  "arrowParens": "avoid",
  "semi": true,
  "singleQuote": false,
  "plugins": ["prettier-plugin-css-order"],
  "cssDeclarationSorterOrder": "concentric-css",
  "cssDeclarationSorterKeepOverrides": false
}
