@import "assets/scss/media-query.scss";
@import "assets/scss/container.scss";

.container {
  width: 100%;
}

.main {
  margin: 0 auto;
  padding: clamp(16px, 6vw, 88px) 0;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input {
  display: block;
  border: 1px solid #333;
  border-radius: 4px;
  padding: 8px 16px;
}

.title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 32px;
  line-height: normal;
}

.filterContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 24px 32px;
  margin-bottom: 40px;
}

.allCourses {
  position: relative;
  margin-bottom: 48px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}
